<div class="col-xs-12 col-sm-12 col-md-12" id="question-activity-container">
<div class="jumbotron question-activity-jumbotron" id="loading-jumbotron" style="display:none;background-color: #ffffff;padding: 25px 0px">
<article class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="loading-gif-wrapper" id="loading_gif">
<div class="loading-gif">
<img src="http://cdn.meaww.com/media/images/facebook.gif">
</div>
<div class="loading-text">
<span id="loading-text" style="font-size: 22px">
Loading... <div style="margin-top:15px;">Please Like Us!
<span class="glyphicon glyphicon-arrow-right" style="font-size: 23px;padding:0 15px;color:#333333"></span>
<iframe class="”&quot;" src="https://www.facebook.com/plugins/like.php?locale=en_US&amp;href=https://www.facebook.com/meawwindia&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=false&amp;share=false&amp;width=50&amp;height=21" width="151" height="21" style="border: none; overflow: hidden; padding-left: 10px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                              <div style="min-height:180px;"></div>
                            
                          </div>
                        </span></div>
                      </div>
                    </div></article>
                  </div>

                  <!-- Start of Question Jumbotron -->
                  <div class="jumbotron question-activity-jumbotron" id="question-activity-jumbotron-section" style="background-color: #ffffff">
                  
                                      
                    <!-- Start of Question Question Wrapper -->
                    <article class="row question-question-wrapper" style="text-align: middle;">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="question-question" style="font-size: 20px">
                          <span style="font-size: 20px;color: #000000">
                            <a onclick="fblogin();" style="color: #000000" href="http://meaww.com/activities/answer/mafia_hai_bhai/2874?auth_type=&amp;retry=0">
                              Who's in your Mafia?                            </a>
                          </span>
                        </div>
                      </div>
                    </article>
                    <!-- End of Question Question Wrapper -->

                    <!-- Start of Question Picture Wrapper -->
                    <article class="row question-picture-wrapper">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div>
                          <%= image_tag "questions/mafia.jpg" %>

                          <%= link_to 'Login to Facebook', '/auth/facebook' %>


                        </div>
                      </div>
                    </article>
                    <!-- End of Question Picture Wrapper -->

                    
                    <!-- Start of App Page Buttons Wrapper -->
                    <article class="row question-app-page-button-wrapper" style="padding: 15px 10px 15px;" id="question-jumbotron-fb-like-button">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="question-app-page-button">
                          <iframe class="”fb-like-button&quot;" src="https://www.facebook.com/plugins/like.php?locale=en_US&amp;href=https://www.facebook.com/meawwindia&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=false&amp;share=false&amp;width=50&amp;height=21" width="151" height="21" style="border: none; overflow: hidden; padding-left: 10px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                      </div>
                    </article>
                    <!-- End of App Page Buttons Wrapper -->

                    <article class="row answer-share-wrapper text-center" id="share-facebook-wrapper-2" style="padding-top: 0px;padding-bottom: 15px">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <table style="width:100%">
                          <tbody><tr>
                            <td class="share-call-td">
                              

                              <a onclick="fblogin();" href="http://meaww.com/activities/answer/mafia_hai_bhai/2874?auth_type=&amp;retry=0">
                      <div style="
                    border: 2px solid #3d518b;
                    background: #3C5B93;
                    color: #fff;
                    margin: 0px auto;
                    width: 300px;
                    padding: 10px;
                    border-radius: 2px;
                    ">
                      <div style="margin:0px auto;width:276px;" class="text-center">
                        <img src="http://cdn.meaww.com/media/f_logo_with_white_back.png">
                        <span style="margin-left:10px;font-size: 15px;
                          font-weight: bold;">Login with Facebook                        </span>
                      </div>
                    </div>
                    </a>
                            </td>
                          </tr>
                        </tbody></table>
                      </div>
                    </article>

                    
                    

                                        
                  </div>
                  <!-- End of Question Jumbotron -->
                
                </div>
