<title>Detect Faces, Gender, Age & Mood Attributes in any picture - SiteIndia</title>

<meta property="og:url"                content="http://www.siteindia.com/posts/image_info" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Detect Faces, Gender, Age & Mood Attributes in any picture" />
<meta property="og:description"        content="Just enter the URL of a picture & instantly detect Faces, Gender, Age & Mood Attributes in any picture, Free !!" />
<meta property="og:image"              content="http://www.siteindia.com/images/face_reco.png" />
