<div class="fb-share-button" data-href="http://www.siteindia.com/posts/image_info" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.siteindia.com%2Fposts%2Fimage_info&amp;src=sdkpreparse">Share</a>
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>

