<a href="https://www.facebook.com/sharer/sharer.php?text=Just enter the URL of a picture &amp; instantly detect Faces, Gender, Age &amp; Mood Attributes in any picture, Free !!&u=http%3A%2F%2Fwww.siteindia.com%2Fposts%2Fimage_info">
<%= image_tag("fb_share.png") %>
</a>

<a href="https://twitter.com/intent/tweet?text=Just enter the URL of a picture, Detect Faces, Gender, Age, Mood Attributes in any picture, Free !!&url=http%3A%2F%2Fwww.siteindia.com%2Fposts%2Fimage_info&via=siteindia" alt="Tweet">
<%= image_tag("tweet.png") %>
</a>