<%= render 'og_graph_data' %>


<% @image["photos"].each do |photo| %>

<div class="card">

  <div class="card card-header">
  <%= raw "<img src='#{photo["url"]}' width='#{photo["width"]}' height='#{photo["height"]}'>" %>
  </div>

  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  Share this page
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_google_plus"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->

  <a href='/posts/image_info'>Select a new image</a>
  <div class="card-group">
  <% photo["tags"].each do |tag| %>

        <div class="card card-block">
          <h4 class="card-title">Attributes</h4> <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>



          <ul class="list-group">
          <%  tag["attributes"].each do |attribute| %>
            <%=  raw "<li class='list-group-item'>#{t attribute[0]} : #{attribute[1]["value"]} 
            <span class='tag tag-default tag-pill float-xs-right' title='Confidence Percent'>#{attribute[1]["confidence"]}</span></li>" %>
          <% end %>
          </ul>

        </div>
  <% end %>
  </div>

</div>
<% end %>