<%= content_for(:title, "Detect Faces, Gender, Age & Mood Attributes in any picture - SiteIndia") %>

<h3>Image URL</h3>

<%= form_tag("analyze_image", id: 'image_form') do %>
<p>Enter URL to Anaylyze:</p>

<p>
<input name="image_url" type="text" size="100" placeholder="http://" type="url">

<p/>

<p>
<button class="btn btn-primary" value="Anaylyze">Anaylyze
</button>
</p>

<% end %>

<%= render 'social_share_code' %>
